.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  place-items: start end;
}
.foto {
  grid-column: 1/3;
}
.descricao {
  grid-column: 1/3;
}
a {
  grid-column: 1/3;
}

/* Estilos Gerais */
body {
  font-family: Arial;
  margin: 40px;
}
h1 {
  margin: 0px;
  font-size: 48px;
  line-height: 1;
  grid-column: 2;
  text-align: end;
}
p,
span {
  font-size: 20px;
}
img {
  max-width: 100%;
  border-radius: 4px;
}
.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}
.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
