div {
  background: #aaa;
  width: 140px;
  height: 80px;
  padding: 30px;
  border: 10px solid #111;
  margin: 30px;
}
body {
  margin: 0px;
}
h1 {
  background: #84e;
  padding: 20px;
  border: 1px solid white;
  margin: 30px;
  width: 150px;
}
